{% extends 'home/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container">
    
    <div class="dashboard-header">
        <h1 class="dashboard-title">{{ user.username|title }}'s Dashboard</h1>
        {% if request.user.is_superuser %}
            <a href="{% url 'admin_panel' %}" class="admin-panel-button">
                <i class="bi bi-gear-fill"></i> Admin Panel
            </a>
        {% elif request.user.is_staff %}
            <a href="{% url 'admin_panel' %}" class="admin-panel-button">
                <i class="bi bi-gear-fill"></i> Control Panel
            </a>
        {% endif %}
    </div>
    

    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div class="message message-{{ message.tags }}">
                    {% if message.tags == 'success' %}
                        <i class="bi bi-check-circle-fill"></i>
                
                    {% elif message.tags == 'error' %}
                        <i class="bi bi-exclamation-triangle-fill"></i>
                    {% endif %}
                    
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="dashboard-grid">
        
        <div class="dashboard-card">
            <h2>My Profile</h2>
            
            <form method="POST" class="profile-form">
                {% csrf_token %}
                {{ u_form.as_p }}
                <button type="submit" name="update_profile" class="login-button">Update Profile</button>
            </form>

            <hr class="gray-line">

            <h3>Security</h3>
            
            <form method="POST" class="profile-form">
                {% csrf_token %}
                {{ p_form.as_p }}
                <button type="submit" name="change_password" class="login-button" >
                    Change Password
                </button>
            </form>
        </div>

        <div class="dashboard-card">
            <h2>Recent Activity</h2>
            
            <div class="activity-section">
                <h3><i class="bi bi-eye-fill"></i> Previously Viewed</h3>
                
                {% if recently_viewed %}
                    <div class="favorites-grid" id="viewed-grid">
                        {% for item in recently_viewed %}
                            <div class="favorite-mini-card">
                                
                                <a href="{% url 'experience_detail' item.id %}" class="favorite-content">
                                    <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                    
                                    <div class="favorite-details">
                                        <h4>{{ item.title }}</h4>
                                        <span class="favorite-price">€{{ item.price }}</span>
                                    </div>
                                </a>
                                
                            </div>
                        {% endfor %}
                    </div>

                {% else %}
                    <p class="empty-message">You haven't viewed any experiences yet. Start exploring!</p>
                {% endif %}
            </div>

            <hr class="gray-line">

             <div class="activity-section">
                <h3><i class="bi bi-bookmark-fill"></i> My Favorites</h3>
                {% if favorites %}
                    <div class="favorites-grid" id="favorites-grid">
                        {% for item in favorites %}
                            <div class="favorite-mini-card" id="favorite-card-{{ item.id }}">
                                
                                <a href="{% url 'experience_detail' item.id %}" class="favorite-content">
                                    <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                    
                                    <div class="favorite-details">
                                        <h4>{{ item.title }}</h4>
                                        <span class="favorite-price">€{{ item.price }}</span>
                                    </div>
                                </a>
                                
                            </div>
                        {% endfor %}
                    </div>
                    {% if favorites|length > 8 %}
                        <div class="show-more-container" id="favorites-show-more-container">
                            <button id="favorites-show-more-button" class="show-more-button">
                                Show More
                            </button>
                        </div>
                    {% endif %}
                {% else %}
                    <p class="empty-message">Your favorites list is currently empty. Start exploring!</p>
                {% endif %}
            </div>
            
            <hr class="gray-line">

            <div class="activity-section">
                <h3><i class="bi bi-star-fill"></i> My Reviews</h3>
                {% if user_reviews %}
                    <div class="favorites-grid" id="ratings-grid">
                        {% for review in user_reviews %}
                            <div class="favorite-mini-card">
                                
                                <a href="{% url 'experience_detail' review.experience.id %}#reviews-section" class="favorite-content">
                                    <img src="{{ review.experience.image.url }}" alt="{{ review.experience.title }}">
                                    
                                    <div class="favorite-details">
                                        <h4>{{ review.experience.title }}</h4>
                                        
                                        <div>
                                            {% for i in "12345"|make_list %}
                                                {% if forloop.counter <= review.rating %}
                                                    <i class="bi bi-star-fill"></i>
                                                {% else %}
                                                    <i class="bi bi-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                                
                            </div>
                        {% endfor %}
                    </div>
                    {% if user_reviews|length > 8 %}
                        <div class="show-more-container" id="ratings-show-more-container">
                            <button id="ratings-show-more-button" class="show-more-button">
                                Show More
                            </button>
                        </div>
                    {% endif %}
                {% else %}
                    <p class="empty-message">You haven't rated any experiences yet.</p>
                {% endif %}
            </div>

            <hr class="gray-line">

            <div class="activity-section">
                <h3><i class="bi bi-bag-check-fill"></i> Past Experiences</h3>
                {% if purchases %}
                    <div class="orders-grid">
            
                        {% for order in purchases %}

                            <!-- put ifs here in order to avoide huge code repetition with rewriting the code for the hidden cards-->
                            <div class="order-card {% if forloop.counter > 3 %}extra-order{% endif %}" 
                            {% if forloop.counter > 3 %}display: none;{% endif %}">
                                
                                <div class="order-header">
                                    <div>
                                        <strong class="order-title">Order #{{ order.user_order_number }}</strong>
                                        <span class="order-date">
                                            Purchased on {{ order.created_at|date:"M d, Y" }}
                                        </span>
                                    </div>
                                    <div >
                                        
                                        <strong class="order-total">
                                            Total: €{{ order.total_price }}
                                        </strong>
                                    </div>
                                </div>

                                <div class="order-body">
                                    <ul class="order-list">
                                        
                                        {% for item in order.items.all %}
                                            <li class="order-item">
                                                
                                                <img src="{{ item.experience.image.url }}" alt="{{ item.experience.title }}">

                                                <div class="order-item-details">
                                                    <strong class="order-item-title">
                                                        {% if item.experience %}
                                                            {{ item.experience.title }}
                                                        {% else %}
                                                            Experience Unavailable
                                                        {% endif %}
                                                    </strong>
                                                    
                                                    <span class="order-item-meta">
                                                        <i class="bi bi-calendar-check"></i> {{ item.booking_date|date:"l, F j, Y" }} &nbsp;|&nbsp; 
                                                        <i class="bi bi-people"></i> {{ item.quantity }}
                                                    </span>
                                                </div>
                                                
                                                <div class="order-item-price">
                                                    €{{ item.price }}
                                                </div>
                                            </li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                        {% if purchases|length > 3 %}
                            <div class="show-more-container">
                                <button id="orders-toggle-button" data-expanded="false" class="show-more-button">
                                    Show More
                                </button>
                            </div>
                        {% endif %}
                    </div>
                    {% else %}
                        <p class="empty-message">You haven't booked any experiences yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<button id="back-to-top" aria-label="Scroll back to top">
    <i class="bi bi-arrow-up" aria-hidden="true"></i>
</button>

{% endblock %}