{% extends 'home/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="login-container">
    
    <h2 class="login-title">Create an Account</h2>
    
    <form method="POST">
        {% csrf_token %} 
        
        {{ form.as_p }} 
        
        <button type="submit" class="login-button">
            Register
        </button>
    </form>

    <div class="details">
        Already have an account? <a href="{% url 'login' %}" class="register-link">Login here</a>
    </div>

</div>

<dark-mode-toggle></dark-mode-toggle>

{% endblock %}