{% extends 'home/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/adminpanel.css' %}">
{% endblock %}

{% block title %}Admin Panel{% endblock %}

{% block content %}


<div class="admin-container">
    
    <h1 class="admin-title">Admin Panel</h1>

    <div class="admin-grid">
        
        <div class="admin-card">
            <h2 class="card-header">Authentication</h2>
            
            <div class="card-row">
                <a href="#" class="card-link">Users</a>
            </div>
        </div>

        <div class="admin-card">
            <h2 class="card-header">Discover Page</h2>
            
            <div class="card-row">
                <a href="{% url 'add_experience' %}" class="card-link">Experiences</a>
            </div>
            
            <div class="card-row">
                <a href="#" class="card-link">Categories</a>
            </div>
            
            <div class="card-row">
                <a href="#" class="card-link">Subcategories</a>
            </div>
        </div>

        <div class="admin-card">
            <h2 class="card-header">Home Page</h2>
            
            <div class="card-row">
                <a href="#" class="card-link">Testimonials</a>
            </div>
        </div>

    </div> 
</div>



<dark-mode-toggle></dark-mode-toggle>
{% endblock %}