{% extends 'home/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/adminpanel.css' %}">
{% endblock %}

{% block title %}Admin Panel{% endblock %}

{% block content %}


<div class="admin-container">
    
    <h1 class="admin-title">Admin Panel</h1>

    <div class="admin-grid">
        
        {% if request.user.is_superuser %}
        <div class="admin-card">
            <h2 class="card-header">Authentication</h2>
            
            <div class="card-row">
                <a href="{% url 'add_user' %}" class="card-link" aria-label="Manage Users">Users</a>
            </div>
        </div>
        {% endif %}

        <div class="admin-card">
            <h2 class="card-header">Discover Page</h2>
            
            <div class="card-row">
                <a href="{% url 'add_experience' %}" class="card-link" aria-label="Manage Experiences">Experiences</a>
            </div>
            
            <div class="card-row">
                <a href="{% url 'add_category' %}" class="card-link" aria-label="Manage Categories">Categories</a>
            </div>
            
            <div class="card-row">
                <a href="{% url 'add_subcategory' %}" class="card-link" aria-label="Manage Subcategories">Subcategories</a>
            </div>
        </div>

        <div class="admin-card">
            <h2 class="card-header">Home Page</h2>
            
            <div class="card-row">
                <a href="{% url 'add_testimonial' %}" class="card-link" aria-label="Manage Testimonials">Testimonials</a>
            </div>
        </div>

    </div> 
</div>


{% endblock %}